.About-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

  .About-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
  }

  .About-Container .Card-Title {
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .About-Container .Card-Subtitle {
    font-size: xx-large;
    font-weight: 600;
    border-bottom: var(--border-color);
    border-bottom-style: solid;
    width: 80%;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  .Info-Container {
    height: fit-content;
    width: 80%;
    font-size: large;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: var(--border-color);
    border-bottom-style: solid;
    width: 80%;
  }

  .About-Buttons-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-around;
  }
  
  .About-Buttons-Container .About-btn {
    margin: 10px;
    border-radius: 0%;
    width: 100px;
  }

  @media screen and (max-width: 1800px) {
    .About-wrapper {
      flex-direction: column;
    }
  
    .About-Container {
      width: 100%;
      height: 100%;
    }
  }
  
  
  @media screen and (max-width: 1024px) {
    .About-Container .Card-Title {
      width: 100px;
    }
  
    .About-Container .Card-Subtitle {
      font-size: 45px;
      padding-bottom: 50px;
    }
  
    .About-Container .Card-Text {
      font-size: 30px;
      margin-bottom: 40px;
    }
  
    .About-Buttons-Container {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 750px;
    }
  
    .About-Buttons-Container .About-btn {
      font-size: 30px;
      font-weight: 400;
      width: 150px;
    }
  }
  
  @media screen and (max-width: 820px) {
    .About-Container .Card-Title {
      width: 400px;
      margin-bottom: 50px;
    }
  
    .About-Container .Card-Subtitle {
      font-size: 30px;
      margin-bottom: 35px;
      padding-bottom: 35px;
    }
  
    .About-Container .Card-Text {
      font-size: 25px;
      margin-bottom: 40px;
    }
  
    .About-Buttons-Container {
      flex-direction: row;
      flex-wrap: nowrap;
      width: 500px;
    }
  
    .About-Buttons-Container .About-btn {
      font-size: 20px;
      font-weight: 400;
    }
  }
  
  @media screen and (max-width: 415px) {
    .About-Container .Card-Title {
      width: 380px;
      margin-bottom: 30px;
    }
  
    .About-Container .Card-Subtitle {
      font-size: 25px;
      margin-bottom: 30px;
    }
  
    .About-Container .Card-Text {
      width: 300px;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 40px;
    }
  
    .About-Buttons-Container {
      width: 300px;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  
    .About-Buttons-Container .About-btn {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 390px) {
    .About-Container .Card-Title {
      font-size: 35px;
    }
  
    .About-Container .Card-Subtitle {
      font-size: 20px;
    }
  
    .About-Container .Card-Text {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .About-Container .Card-Title {
      width: 340px;
      margin-bottom: 20px;
    }
  
    .About-Container .Card-Subtitle {
      margin-bottom: 30px;
      font-weight: 400;
      padding-bottom: 30px;
    }
  
    .About-Container .Card-Text {
      margin-bottom: 25px;
      font-weight: 300;
    }
  
    .About-Buttons-Container {
      width: 100px;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  
    .About-Buttons-Container .About-btn {
      font-size: 12px;
    }
  
    @media screen and (max-width: 360px) {
      .About-Container .Card-Title {
        width: 320px;
        margin-bottom: 20px;
      }
  
      .About-Container .Card-Subtitle {
        margin-bottom: 30px;
        font-weight: 400;
        padding-bottom: 30px;
      }
  
      .About-Container .Card-Text {
        margin-bottom: 18px;
        font-weight: 300;
      }
  
      .About-Buttons-Container {
        width: 100px;
        flex-direction: row;
        flex-wrap: nowrap;
      }
  
      .About-Buttons-Container .About-btn {
        font-size: 12px;
      }
    }
  
    @media screen and (max-width: 280px) {
      .About-Container .Card-Title {
        width: 270px;
        margin-bottom: 15px;
      }
    
      .About-Container .Card-Subtitle {
        font-size: 17px;
        margin-bottom: 15px;
        font-weight: 400;
        padding-bottom: 15px;
      }
    
      .About-LContainer .Card-Text {
        width: 250px;
        margin-bottom: 18px;
        font-weight: 300;
      }
    
      .About-Buttons-Container {
        width: 250px;
        flex-direction: row;
        flex-wrap: nowrap;
      }
    
      .About-Buttons-Container .About-btn {
        font-size: 8px;
        font-weight: 400;
      }
  }
  }